.fa-whatsapp{
    color: green;
    font-size: 100px;
    padding: 20%;
}
.fa-instagram{
    color:violet;
    font-size: 100px;
    padding: 20%;
}

.fa-facebook{
    color:blue;
    font-size: 100px;
    padding: 20%;
}

.fa-wifi{
    color: green; 
    font-size: 100px;
    padding: 20%;
}

.fa-snapchat{
    color: yellow; 
    font-size: 100px;
    padding: 20%;
}
